Package: meshlqm
Version: 0.1
Depends:
Provides:
Source: package/meshlqm
Section: net
Priority: optional
Maintainer: Tim Wilkinson (KN6PLV)
Architecture: all
Description: Manage traffic based on link quality
